starting_ex/test_checkpoint
starting_ex/.ipynb_checkpoints
starting_ex/blastn_results.xml
starting_ex/blastp_results.xml
starting_ex/blastn_bytaxid_results.xml
starting_ex/nblast_result.csv
starting_ex/try1.xml
starting_ex/search_from_parser2.xml
starting_ex/csv_blast_results.csv
starting_ex/for_loop_search_txid9527.xml
starting_ex/for_loop_search_txid9592.xml
starting_ex/multiple_taxid_samerun.xml
starting_ex/test_taxid_function.xml
starting_ex/csv_genbank_results.csv
starting_ex/aligned_mafft.fasta
starting_ex/sequences_for_alignment.aln
starting_ex/sequences_for_alignment.dnd
starting_ex/sequences_for_alignment.fasta
starting_ex/sequences_for_alignment.fasta.hat2
starting_ex/aligned_mafft_filtered.fasta
starting_ex/sequences_for_alignment_filtered.fasta
starting_ex/sequences_for_alignment_filtered.fasta.hat2
starting_ex/allfas.gbk
starting_ex/aligned_mafft.stderr
starting_ex/sequences_for_alignment_filtered_v2.fasta
starting_ex/sequences_for_alignment_filtered_v2.fasta.hat2
starting_ex/test_taxid_function_single.xml
starting_ex/test_taxid_function_single_4.xml